header {
    background-color: #53a08e; /* estilo de la barra*/
    padding: 20px; 
    color: #fff;
    margin-bottom: 30px;
}

.navbar-brand { /* estilo de letra eLibroPlanet*/
    font-size: 1.5rem; 
    color: #fff;
}   

footer {
    background-color: #f7f0ba; 
    padding: 40px;
    color: #53a08e; 
}

#btn_crear {
    background-color: #53a08e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
}

.btn-primary {
    background-color: #53a08e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
}

.card {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    margin-bottom: 15px;
}

.btn-danger {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
}

.btn-danger:hover {
    background-color: #c0392b;
}
